/* AddPost.css */
.add-post-container {
    position: absolute;
    bottom: 10%;
    width: 50%;
    left: 2%;
    background-color: #18191a;
    border-radius: 12px;
    padding: 19px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 8px;
  }
  
  .post-input.active {
    color: blue; /* Change color when clicked */
    font-weight: bold;
  }
  
  
  .add-post {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
  }
  
  .post-input {
    flex-grow: 1;
    background-color: #ede7f6;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    outline: none;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .post-options {
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
  }
  
  .post-option {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: #e1dede;
    font-size: 14px;
  }
  
  .post-option:hover {
    color: #333;
  }
  
  .Camicon {
    width: 20px;
    height: 20px;
    color: blue;
  }

  .Calicon {
    width: 20px;
    height: 20px;
    color: green;
  }

  .Filicon {
    width: 20px;
    height: 20px;
    color: red;
  }

  /* Hover Effects */
.Camicon:hover,
.Calicon:hover,
.Filicon:hover {
  opacity: 0.8;
}
  