/* Post List */
.apple{
    display: flex;
    flex-direction: column;
    background-color: #E6E0EC; 
    min-height:200px; 
    height: auto;
    overflow: hidden;
    padding: 9px;
    box-sizing: border-box;
}
.post-list {
    /*position: relative;
    width: 400px;
    top: 720px;
    left: 2%;*/
    right: 30%;
    position: relative; /* Keeps elements stacked properly */
    top: 750px;
    width: 150%;
    max-width: 400px;
    margin: 0 auto; /* Centers it */
    padding-top: 10px; /* Adds space from top */
}

.post {
    background: rgb(13, 199, 156);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.post p {
    font-size: 16px;
    margin-bottom: 5px;
}

.post small {
    color: rgb(18, 16, 183);
    font-size: 12px;
}

.deletePostButton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
  }
  
  .deletePostButton:hover {
    background-color: darkred;
  }
  
