/* General Styling */
.login {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 100vh;
  background: #f9f9f9;
  margin-right: 100px;
}

.wrapper {
  position: absolute;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  margin-left: 500px;
  margin-bottom: 1450px;
}

.image-section {
  background-image: url('../images/login-img.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 50%;
}

.heading {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.error-msg {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #7f56d9;
  box-shadow: 0 0 3px rgba(127, 86, 217, 0.3);
}

.sign-in-button {
  background-color: #7f56d9;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.sign-in-button:hover {
  background-color: #6b4acb;
}

.divider {
  text-align: center;
  color: #aaa;
  margin: 1rem 0;
  font-size: 0.9rem;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #ddd;
  width: 40%;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.google-sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
}

.google-sign-in-button:hover {
  background: #f3f3f3;
}

.forgot-link {
  margin-top: 5px;
  text-align: right;
  font-size: 0.7rem;
}

.link {
  text-align: center;
  margin-top: 1rem;
}

.link a {
  color: #7f56d9;
  text-decoration: none;
  font-weight: bold;
}