.register {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    background: #f9f9f9;
    margin-right: 100px;
}

.image-box {
    background-image: url('../images/login-img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 50%;
}

.logincover {
    position: absolute;
    padding: 2rem;
    border-radius: 12px;
    max-width: 450px;
    width: 100%;
    margin-left: 500px;
    margin-bottom: 1450px;
}

.heading {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sub-heading {
    text-align: center;
    color: #333;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form p {
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.error-msg {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 0.8rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #7f56d9;
    box-shadow: 0 0 3px rgba(127, 86, 217, 0.3);
}

.name-inputs {
    display: flex;
    gap: 60px;

}

.name-title {
    display: flex;
    gap: 180px;
}

.register-button {
    background-color: #7f56d9;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.register-button:hover {
    background-color: #6b4acb;
}

.divider {
    text-align: center;
    color: #aaa;
    margin: 1rem 0;
    font-size: 0.9rem;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    height: 1px;
    background: #ddd;
    width: 40%;
    top: 50%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
}

.social-btn img {
    width: 20px;
    height: 20px;
}

.social-btn:hover {
    background: #f3f3f3;
}

.google-logo {
    width: 20px;
}

.link {
    text-align: center;
    margin-top: 1rem;
}

.link a {
    color: #7f56d9;
    text-decoration: none;
    font-weight: bold;
}